::-webkit-input-placeholder { color: #c8c8c8; }
::-moz-placeholder          { color: #c8c8c8; } /* Firefox 19+ */
:-moz-placeholder           { color: #c8c8c8; } /* Firefox 18- */
:-ms-input-placeholder      { color: #c8c8c8; }

.form{
	padding: 45px 0 26px;
}

	.form-part{
		padding-bottom: 50px;
		
		&__icon{
			text-align: center;
			margin-bottom: 19px;
		}

		&__title{
			font-size: 30px;
		  line-height: 1;
		  font-weight: 300;
		  text-align: center;
		  margin-bottom: 49px;

		  &--2{
		  	margin-bottom: 13px;
		  }

		}

		&__caption{
			text-align: center;
			margin-bottom: 37px;
		}

	}

	.form-field,
	.select{
		display: block;
		margin:0 auto;
		width: 100%;
		max-width: 520px;
		height: 60px;
	  text-align: center;
	  border: 1px solid #e5e5e5;
	  position: relative;
	  background-color: none;
	  border-radius: 5px;
	}

	.form-field__inp,
	.form-field__area{
		width: 100%;
		font-size: 20px;
	  font-weight: 400;
	  padding: 22px 15px 8px;
	  color: #2f2f2f;
	  outline:none;
	  border: none;
	  background: none;
	  text-align: center;
	  position: relative;
	  z-index: 10;
	  font-family: $font-family, sans-serif;
	}

	.form-label{
		font-size: 24px;
	  font-weight: 400;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		line-height: 60px;
		color: #c8c8c8;
		transition: all ease 250ms;
	}

	.form-field__inp:focus + .form-label,
	.form-field__inp.active + .form-label{
		font-size: 14px;
		line-height: 24px;
	}

	.form-field--area{
		text-align: left;
		min-height: 180px;
		font-size: 20px;
		padding: 18px;
		resize: vertical;
	}

	.form-field__area{
		border: none;
		height: 100%;
		text-align: left;
		padding: 0;
	}

	.selected .select-styled{
		color: $color;
		font-size: 20px;
	}

	.form-row{
		margin-bottom: 25px;
	}
	
	select{
		display: none;
	}

	.select-hidden {
	  display: none;
	  visibility: hidden;
	  padding-right: 10px;
	}
	.select {
	  max-width: 320px;
	  cursor: pointer;
	  display: block;
	  padding: 0;
	  position: relative;
	}
	.select-styled {
	  position: absolute; 
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  font-size: 24px;
	  font-weight: 400;
	  height: 60px;
	  line-height: 56px;
	  padding: 0 15px;
	  color: #c8c8c8;

	  &:after {
	  	display: block;
	  	position: absolute;
	  	background: url(../images/select-arrow.svg) 0 0 no-repeat;
	  	width: 14px;
	  	height: 9px;
	  	right: 18px;
	  	top: 50%;
	  	margin-top: -5px;
	  	content: "";
	  }
	  &:hover {
	    
	  }
	  &:active, &.active {
	    
	    &:after {
	      transform: rotate(180deg);
	    }
	  }
	}

	.select-options {
	  display: none; 
	  position: absolute;
	  top: 100%;
	  right: 0;
	  left: 0;
	  z-index: 999;
	  margin: 2px 0 0;
	  padding: 0;
	  border-radius: 5px;
	  list-style: none;
	  background-color: #fff;
	  border: 1px solid rgba(0,0,0,.1);
	  padding: 30px 0;
	  max-height: 300px;
	  overflow: auto;
	  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);


		/* width */
		&::-webkit-scrollbar {
		  width: 4px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
		  background: none;
		  margin: 10px 0;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
		  background-color: #d9d9d9;
		  border-radius: 10px;
		  margin-right: 6px;
		}

	  li {
	    margin: 0;
	    color: #435993;
			font-size: 20px;
			font-weight: 300;
			line-height: 36px;

	    &:first-child{
	    	display: none;
	    }

	    &:last-child{
	    	border: none;
	    }
	    
	    &:hover {

	    }

	    &[rel="hide"] {
	      display: none;
	    }
	  }
	}


	.form-checkbox{
		display: block;
		color: #000;
		font-size: 16px;
		font-weight: 300;
		margin-bottom: 11px;

		input{
			display: none;
		}


		&__label{
			display: inline-block;
			position: relative;
			cursor: pointer;
			padding: 0 0 0 33px;

			&::before{
				width: 18px;
				height: 18px;
				border: 1px solid #435993;
				background-color: #ffffff;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 3px;
				content: "";
			}

			&:hover::before{
				background-color: #e9efff;
			}

		}

		input:checked + &__label{
			
			&::before{
				background: #435993 url(../images/checkbox-arrow.svg) 50% 50% no-repeat;
			}

		}

	}


	.form-layout{
		display: flex;
		padding: 0 0px 71px 0;
		margin: 0 -66px 0 -4px;
		justify-content: space-between;

		&__item{
			padding: 0 20px 0 0;
		}

		&--2 &__item{
			width: 50%;
		}

		&--3 &__item{
			width: 33.3%;
		}
	}


	.range-slider-wrap{
		height: 15px;
		position: relative;
		margin-bottom: 106px;
	}

	.ui-slider{
		width: 100%;
		height: 15px;
		position: relative;
		background: url(../images/gray.png) 100% 0 no-repeat;
	}

	.ui-slider .ui-slider-range{
		background: url(../images/rangegradient.png) 0 0 no-repeat;
	}

	.ui-slider .ui-slider-handle{
		top: 100%;
		width: 23px;
		height: 26px;
		outline: none;
		cursor: pointer;
		margin-top: 4px;
		background: url(../images/range-marker.svg) 0 0 no-repeat;
	}

	.range-slider__markers{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		font-size: 13px;
		margin: -5px 0 13px;
	}

		.range-slider__marker{
			width: 25%;
			position: relative;

			&::before{
				height: 16px;
				border-left: 1px dotted #e4e4e4;
				display: block;
				position: absolute;
				top: 100%;
				left: 0;
				margin-top: 4px;
				content: "";
			}

			&::after{
				height: 20px;
				width: 1px;
				background-color: #fff;
				position: absolute;
				display: block;
				top: 100%;
				left: 0;
				z-index: 10;
				margin-top: 13px;
				content: "";
			}

		}

		.range-slider__markers .range-slider__marker:last-child{
			text-align: right;

			&::before{
				left: auto;
				right: 0;
				height: 6px;
			}

		}


	.form-btn-wrap{
		text-align: center;
		padding: 45px 0 0;
	}

@media only screen and (max-width: 995px) {

	.form-part{
		padding-bottom: 25px;

		&__title{
			font-size: 24px;
			margin-bottom: 20px;
		}
	}

	.form-layout{
		margin: 0;
		padding-bottom: 0;
	}

	.range-slider-wrap{
		margin-bottom: 80px;
	}

	.form-btn-wrap{
		padding-top: 15px;
	}

	.form-part__caption{
		margin-bottom: 20px;
	}

}


@media only screen and (max-width: 767px) {
	
	.form-field, .select{
		max-width: 100%;
	}

	.form{
		padding: 20px 0;
	}

	.form-label,
	.select .select-styled{
		font-size: 18px;
	}

	.form-layout{
		display: block;

		&--3 &__item,
		&--2 &__item{
			width: auto;
		}

	}

	.form-part__title{
		font-size: 20px;
	}

	.form-part__icon{
		margin-bottom: 10px;
	}

}