.nav{

}

	.nav-list{
		display: flex;
		justify-content: center;

		&__item{
			margin: 0 37px;
		}

		&__link{
			color: #435993;
			font-size: 14px;

			&:hover{
				color: #1c1c1c;
			}
		}

	}



@media only screen and (max-width: 767px) {

	.resp-toggle-btn {
		display: block;
		border: none;
		cursor: pointer;
		outline: none;
		width: 35px;
		height: 35px;
		top: 8px;
		right: 12px;
		position: absolute;
		background-color: #435993;
		border-radius: 3px;
		z-index: 100;
	}
	  
	.resp-toggle-btn span { display: block; position: absolute; height: 2px; left: 6px; right: 6px; background-color: #fff; -webkit-transition: all 0.25s ease; -moz-transition: all 0.25s ease; -o-transition: all 0.25s ease; transition: all 0.25s ease; }
	.resp-toggle-btn span.line1 { top: 11px; }
	.resp-toggle-btn span.line2 { top: 17px; }
	.menu > .hasUl > a::after { right: 22px; }
	.resp-toggle-btn span.line3 { top: 23px; }
	.navTrue .resp-toggle-btn span { left: 4px; right: 4px; }
	.navTrue .resp-toggle-btn span.line1 { -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); top: 16px; }
	.navTrue .resp-toggle-btn span.line2 { opacity: 0; }
	.navTrue .resp-toggle-btn span.line3 { -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); top: 16px; }
	
	.navTrue .nav {
		left: calc(100% - 300px);
	}

	.nav{
		position: fixed;
		display: flex;
		align-items: center;
		top: 0;
		left: 100%;
		height: 100%;
		width: 300px;
		background-color: #fff;
		z-index: 99;
		transition: all ease 500ms;
	}

	.nav-list{
		padding: 0 20px;
		display: block;
	}

		.nav-list__item{
			margin: 20px 0;
		}

		.nav-list__link{
			display: block;
			text-align: center;
			font-size: 18px;
		}

	.range-slider__markers{
		font-size: 11px;

		br{
			display: none;
		}

	}

	.range-slider__marker{
		padding-right: 20px;
	}
	
}


@media only screen and (max-width: 480px) {
	
	.nav{
		width: 100%;
	}

	.nav-list{
		width: 100%;
	}

	.navTrue .nav {
		left: 0;
	}

	.range-slider__markers{
		font-size: 10px;
	}

	.range-slider__marker{
		padding-right: 10px;
	}

}